body
{
    margin:0;
    background-color: rgb(121,0,0);
}
.header
{
    margin-top: 0px;
    margin-left:0px;
    width: 100%;
    background-color: rgb(54, 54, 54);
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-basis: 100%;
}
.logos img
{
    height:80px;
}
.logos
{
    margin-top: 0px;
    position: absolute;
    right:10px;
    -ms-flex: 1;
    flex:1;
    flex-basis:50%;
}
.menus
{
    margin-top:0.2%;
    margin-left: 1%;
    -ms-flex: 1;
    flex:1;
    flex-basis:70%;
    display:flex;
    flex-flow : row nowrap;
    height:100%;
    align-items: center;
}
.dropdown-content 
{
    display:none;
}
.menus-left
{
    float:left!important;
}
.menus a
{
    text-decoration:none;
    padding-top: 60px;
    color:rgb(236, 230, 230);
    font-family:arial;
    font-size:28px;
    flex-basis: auto;
    height: 100%;
    align-items: center;
}

.content
{
    margin-top: 0px;
    margin-left: 0px;
}

.slider-container
{
    margin-top: 10px;
    display: flex;
}

.arrow
{
    display: flex;
    flex-flow : row nowrap;
    align-items: center; 
}
.arrow img
{
    width: 90px;
    height: 70px;
}
.slider
{
    margin-left:4%;
    margin-right:4%;
    width: 90%;
    height: 700px;
    overflow: hidden;
}
.slider-image
{
    /*overflow: hidden;*/
    display:flex;
    flex-flow: row nowrap;
    position: relative;
    margin-left: -500px;
}
.slider-image img
{
    width:1590px;
    height:700px;
}

.contentTitel
{
    width:100%;
    font-family:"Bahnschrift";
    color:#f9f9f9; 
    font-size: 50px;
    align-items: center;
}

.add
{
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("Images/Sam/image\ \(15\).jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:80%;
    height: 500px;
}

.add2
{
    display: none;
}

.block
{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-basis:90%
}

.block1
{
    background-image: url("Images/Sam/image\ \(20\).jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:500px;
    height: 300px;
    margin-left: 38px;
    margin-right: 38px;
}

.block2
{
    background-image: url("Images/Sam/image\ \(14\).jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:500px;
    height: 300px;
    margin-left: 38px;
    margin-right: 38px;
}

.block3
{
    background-image: url("Images/Sam/image\ \(11\).jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:500px;
    height: 300px;
    margin-left: 38px;
    margin-right: 38px;
}

.blockTitel
{
    margin-left: 10px;
    font-family:"Bahnschrift";
    color:#f9f9f9; 
    font-size: 27px;
}

.blockTitelAdd
{
    margin-left: 20px;
    font-family:"Bahnschrift";
    color:#f9f9f9; 
    font-size: 40px;
}

.blockContentAdd
{
    font-family:"Bahnschrift";
    color:#f9f9f9; 
    font-size: 25px;
    padding-top: 125px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.blockContent
{
    font-family:"Bahnschrift";
    color:#f9f9f9; 
    font-size: 18px;
    padding-top: 80px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.footerContainer
{
    margin-top: 40px;
    padding-top: 10px;
    background-color: rgb(54, 54, 54);
    width:100%;
    height: 200px;
}

.socmed
{
    width: 100%;
    color:seashell;
    font-family:"Bahnschrift";
    font-size: 20px;
}

::-webkit-scrollbar 
{
    width: 10px;
}
 ::-webkit-scrollbar-track 
{
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb 
{
    background: #888; 
}
::-webkit-scrollbar-thumb:hover 
{
    background: #555; 
}

@media (max-width: 800px)
{
    .menus
    {
        display: none!important;
    }
    .add
    {
        display: none!important;
    }
    .add2
    {
        display: block;
        margin-left: 5%;
        margin-right: 5%;
        background-image: url("Images/Sam/image\ \(15\).jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width:90%;
        height: 400px;
    }

    .blockTitelAdd
    {
        margin-left: 20px;
        font-family:"Bahnschrift";
        color:#f9f9f9; 
        font-size: 30px;
    }

    .blockContentAdd
    {
        font-family:"Bahnschrift";
        color:#f9f9f9; 
        font-size: 20px;
        padding-top: 30px;
        margin-bottom: 0px;
        margin-left: 10px;
    }

    .dropdown
    {
        position:relative;
        display: inline-block;
        cursor: pointer;
        padding: 10px;
    }
    .dropdown-content 
    {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        background-color: rgb(80, 77, 77);
    }
    .dropdown:hover .dropdown-content 
    {
        display: block;
    }
    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    .bar1, .bar2, .bar3
    {
        width: 35px;
        height: 5px;
        background-color: white ;
        margin: 6px 0;
        transition: 0.4s
    }
    .change .bar1 
    {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {opacity: 0;}
    .change .bar3 
    {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .slider
    {
        margin-left:0%;
        margin-right:0%;
        Width:100%;
        height:300px;
    }
    .slider-image img
    {
        width:700px;
        height:300px
    }
    .arrow img
    {
        width: 50px;
        height: 30px;
    }
    .block 
    {
        margin-left: 18%;
        margin-right: 15%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        flex-basis:70%
    }

    .block1, .block2, .block3
    {
        margin-bottom: 20px;
    }
}